<% provide :title, 'Home' %>

<section id='presenter' class="jumbotron">
	<div class='container'>
		<div class='col-md-12'>
			<div class='row'>
				<div class='col-md-6 col-md-offset-3'>
				<%= form_for :group do |f| %>
					<div class='field col-md-7'>
						<%= f.search_field :name, class: 'form-control', required: 'required',
						placeholder: 'Nome, Estado, Cidade ou Região', autocomplete: 'off' %>
					</div>
					<div class="field col-md-2">
						<%= f.submit 'Buscar', class: 'btn btn-primary btn-lg top' %>
					</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<br>
<section id="groups">
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				<% Group.all.each do |group| %>
					<div class="col-md-3">
						<div class='panel panel-default' style='padding: 20px;'>
							<h4><%= link_to group.name, group_path(group) %></h4>
							<small>
								<%= group.address %>  /
								<%= group.region  %>  /
								<%= link_to group.country, groups_path(country: group.country.downcase) %> 
							</small>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>