<header>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Rubyster</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li><%= link_to 'Inicio',  root_path %></li>
      	<li><%= link_to 'Sobre',   root_path %></li>
      	<li><%= link_to 'Contato', root_path %></li>
      </ul>
			
			<%= form_for :group, {html: {class: 'navbar-form navbar-left', id: 'headerSearch'}} do |f| %>
				<div class='form-group'>
					<div class='input-group'>
						<div class='input-group-addon'><i class="fas fa-map-marker-alt"></i></div>					
						<%= f.search_field :name, class: 'form-control', required: 'required',
						placeholder: 'Nome, Estado, Cidade ou Região', autocomplete: 'off' %>
						</div>
				</div>
				<%= f.submit 'Buscar', class: 'btn btn-primary top' %>
			<% end %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to 'Adicionar Grupo', new_group_path, method: :get, 
        class: 'btn btn-primary btn-sm', style: 'margin-top: 8px;' %></li>
        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <% else %>
				 <li><%= button_to 'Criar conta', new_user_registration_path, method: :get, class: 'btn btn-danger btn-sm', style: 'margin-top: 8px; margin-left: 10px;' %></li>
         <li><%= link_to 'Entrar', new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>	
</header>